# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml
*.iws
coverage-error.log
.overlays/

# Mac
.DS_Store

# Maven
log/
target/
doc/
.idea/
*.iml
target/
.classpath
.project
.settings/
/bin
